---
import Layout from "../layouts/Layout.astro";
import HomepageCard from "../components/HomepageCard.astro";
import Logo from "../components/Logo.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Agent Experience" footerCN="max-w-6xl">
  <main>
    <div
      class="relative pt-8 pb-16 lg:pt-20 xl:pt-32 lg:pb-24 border-b border-accent/10 z-0 overflow-hidden bg-gradient-to-t from-transparent to-white"
    >
      <div class="max-w-6xl px-4 sm:px-8 md:px-12 mx-auto relative z-10">
        <h1
          class="text-4xl md:text-5xl mb-12 font-bold text-text-dark leading-none tracking-tight"
        >
          <span
            class="size-14 bg-text-dark flex items-center justify-center rounded scale-75 -ml-2 mb-4 text-white"
            ><Logo className="inline-block -top-8 size-10" /></span
          >
          Agent Experience
        </h1>
        <p class="text-lg max-w-2xl mt-6 leading-relaxed">
          <em class="not-italic text-text-dark font-medium"
            >Humans leverage AI agents to work on their behalf.</em
          ><br />
          As billions of agents come online, their "experiences" will drive relevancy,
          preference, and adoption for all sites and services that humans need to
          get work done, to shop, etc.
        </p>
        <p class="text-lg max-w-xl mt-6 mb-10 leading-relaxed">
          This is the canonical site for learning, researching, and building the
          future of AX. <em class="not-italic font-medium"
            >Looking to help drive the future of AX?</em
          >
        </p>
        <a
          href="https://github.com/orgs/agentexperience/discussions"
          target="_blank"
          rel="noopener noreferrer"
          class="text-lg inline-flex items-center justify-center border border-accent/20 align-middle select-none font-semibold text-center duration-100 ease-in focus:shadow-none py-3 px-5 shadow-sm hover:shadow-md hover:shadow-accent/10 relative bg-accent/5 text-text-dark rounded-md hover:bg-white gap-2"
        >
          Get involved
          <Icon name="lucide:arrow-right" />
        </a>
        <Logo
          stroke
          fill={false}
          className="hidden lg:block absolute -bottom-[340px] -right-24 xl:-right-48 w-[640px] h-auto text-accent/10 z-0"
        />
      </div>
    </div>
    <div
      class="relative before:absolute before:inset-full before:top-8 before:bottom-0 before:backdrop-blur-md z-10"
    >
      <div class="max-w-6xl px-4 sm:px-8 md:px-12 mx-auto z-10 relative -mt-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-16">
          <HomepageCard
            href="/concepts/getting-started"
            title="Concepts"
            icon="lucide:sparkles"
          >
            Learn the key concepts and what makes AX unique
          </HomepageCard>
          <HomepageCard
            href="/articles"
            title="Articles"
            icon="lucide:scroll-text"
          >
            Read the latest industry articles about AX
          </HomepageCard>
          <HomepageCard
            href="/research"
            title="Research"
            icon="lucide:microscope"
          >
            Dive into findings, ideas, and explorations
          </HomepageCard>
        </div>
        <div class="relative grid gap-16 mt-16">
          <section class="max-w-3xl">
            <h2 class="text-2xl font-semibold text-text-dark">
              What is Agent Experience?
            </h2>
            <p class="md:text-lg mt-4 leading-relaxed text-balance">
              <em class="font-medium not-italic"
                >Agent Experience (AX) refers to the holistic experience AI
                agents have when interacting with a product, platform, or
                system.</em
              >
            </p>
            <p class="md:text-lg mt-4 leading-relaxed">
              It encompasses how easily agents can access, understand, and
              operate within digital environments to achieve user-defined goals.
              Similar to UX (User Experience) and DX (Developer Experience), AX
              is becoming a key differentiator in software design as AI agents
              increasingly act autonomously to assist users with digital tasks.
            </p>
          </section>
          <section class="max-w-2xl">
            <h2 class="text-2xl font-semibold text-text-dark">
              Who is behind the AX movement?
            </h2>
            <p class="md:text-lg mt-4 leading-relaxed text-balance">
              <em class="font-medium not-italic"
                >AX is a substantial, industry level opportunity and requires an
                open, collaborative approach to achieve.</em
              >
            </p>
            <p class="md:text-lg mt-4 leading-relaxed">
              Netlify has helped <a
                href="https://biilmann.blog/articles/introducing-ax/"
                class="text-accent font-medium underline underline-offset-2 hover:text-accent/80"
                target="_blank">define AX</a
              > and bring together industry collaborators to pave a path forward.
              While that's a good start, AX will be continue to be pioneered by the
              open contributors, researchers, and volunteers in the community. If
              that sounds interesting, get involved!
            </p>
          </section>
        </div>
      </div>
    </div>
  </main>
</Layout>
